<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!--  -->
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Pitches Website</title>
    {% endif %}
</head>

<body>
    <!-- content block -->
    {% extends 'bootstrap/base.html'%}

    <!-- Navbar block  -->
    {% block navbar %} {% include 'navbar.html' %} {% endblock %}

    <!-- block content -->
    {% block content%} {% endblock %}



    <!--  -->
    {%block styles %}
    <!-- super var -->
    {{super()}}
    <!--Importing the simple mde css and js files  -->
    {{ simplemde.css}} {{ simplemde.js }}
    <!-- endblock -->
    {% endblock %}

</body>

</html>