<!-- extend base.html -->
{% extends 'base.html'%}

<head>
    <meta charset="UTF-8">

    <!-- styles block -->
    {% block styles %}
    <!-- variable block to prevent code override -->
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}"> {% endblock %}

    <!-- define if else block -->
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Pitches Website </title>
    {% endif %}
</head>
{% block content %} {% endblock %}

</html>