{% macro display(piches) %}
<div class="container-fluid">
    <div class="row">
        {% if piches %}

        <!-- loop -->
        {% for category in piches %}
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5 class="card-header">{{category.title}}</h5>
                </div>

                <div class="panel-body">
                    <p class="pitch">{{category.pitch}}</p>
                    <p> Category: {{category.category}}</p>
                    <p class="text-center">--- <i>Posted by: {{category.user.username}}</i></p>
                    <div>
                        <span class="foot">{{category.comment.count()}} Comments</span>
                        <br>
                        <a class="btn btn-success btn-sm" href="{{url_for('main.like',id = category.id)}}">{{category.upvote.count()}} Likes</a>
                        <a class="btn btn-danger btn-sm" href="{{url_for('main.dislike',id = category.id)}}">{{category.downvote.count()}} Dislikes</a>
                        <a href="{{url_for('main.comment',pitch_id = category.id)}}" class="btn btn-info btn-sm"> Comment</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- else -->
        {% else %}
        <div class="card w-90 mb-3">
            <div class="card-body">
                <p class="card-title">Category Has 0 posts</p>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}